<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Metadata and Responsive Viewport -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta property="og:type" content="fbgiveforfree:free_item" />
    <meta property="fb:app_id" content="<%= appId %>" />
    <meta property="og:url" content="<%= domain %>/item/<%= item.itemID %>" />
    <meta property="og:image" content="https://d24uwljj8haz6q.cloudfront.net/<%= item.imageLocation %>" />
    <meta property="og:description" content="<%= item.description %>" />
    <meta property="og:title" content="<%= item.title %>" />
    <meta property="og:site_name" content="Give For Free" />
    <meta property="og:image:width" content="450" />
    <meta property="og:image:height" content="298" />
    <meta name='_csrf' content='<%= csrfToken %>'>

    <title>Give For Free - Meeting the needs of others</title>

    <!-- JQuery Support -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

    <!-- Material Date Picker -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/material-design-lite/1.2.0/material.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.14.1/moment-with-locales.min.js"></script>
    <script src="../assets/materialDatePicker/js/bootstrap-material-datetimepicker.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/material-design-lite/1.2.0/material.min.css">
    <link rel="stylesheet" href="../assets/materialDatePicker/css/bootstrap-material-datetimepicker.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

    <!-- Bootstrap Support -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <!-- Checkbox Styling -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/awesome-bootstrap-checkbox/0.3.7/awesome-bootstrap-checkbox.min.css">

    <!-- Value Assignment to JS -->
    <script>
        var loggedIn = <%= loggedIn %>;
        var currentItemId = <%= item.itemID %>;
        var userId = <%= id %>;
        window.fbAsyncInit = function() {
            FB.init({
                appId: '<%= appId %>',
                xfbml: true,
                version: 'v2.7'
            });
            if (typeof facebookInit == 'function') {
                facebookInit();
            }
        };

        (function(d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) {
                return;
            }
            js = d.createElement(s);
            js.id = id;
            js.src = "//connect.facebook.net/en_US/sdk.js";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));

        // function facebookInit() {
        //     if ($("#facebook-message").length) {
        //         document.getElementById('facebook-message').onclick = function() {
        //             // alert("CLICKED MESSAGE");
        //             FB.ui({
        //                 method: 'send',
        //                 link: '<%= domain %>/item/<%= item.itemID %>',
        //                 to: toId
        //             }, function(response) {});
        //         }
        //     }
        //     if ($("#facebook-share").length) {
        //         document.getElementById('facebook-share').onclick = function() {
        //             // alert("CLICKED SHARE");
        //             FB.ui({
        //                 method: 'share_open_graph',
        //                 action_type: '<%= fbNameSpace %>:receive',
        //                 action_properties: {
        //                     'free_item': '<%= domain %>/item/<%= item.itemID %>'
        //                 },
        //                 mobile_iframe: true
        //             }, function(response) {});
        //         }
        //     }
        // }

        $('#facebook-message').unbind('click').bind('click', function (e) {
            messageUser();
        });

        $('#facebook-share').unbind('click').bind('click', function (e) {
            shareItem();
        });

        function messageUser() {
                var toId = null;

                <% if (loggedIn && (item.takerID === null || item.takerID === id)) { %>
                toId = '<%= item.fbID %>';
                <% } else if (loggedIn && item.giverID === id && item.takerID !== null) { %>
                toId = '<%= item.takerFbID %>';
                <% } %>

                console.log(toId);
                console.log('<%= domain %>/item/<%= item.itemID %>');

                FB.ui({
                    method: 'send',
                    link: '<%= domain %>/item/<%= item.itemID %>',
                    to: toId
                }, function(response) {});

        }

        function shareItem() {
            // alert("CLICKED SHARE");
            FB.ui({
                method: 'share_open_graph',
                action_type: '<%= fbNameSpace %>:receive',
                action_properties: {
                    'free_item': '<%= domain %>/item/<%= item.itemID %>'
                },
                mobile_iframe: true
            }, function(response) {});
        }

    </script>

    <!-- Native Scripts -->
    <script src="../scripts/common/common.js"></script>
    <script src="../scripts/item/item.js"></script>

    <!-- Push Notifications -->
    <!-- <script src="/scripts/common/notification2.js"></script> -->

    <!-- Facebook Like -->
    <script src="/scripts/common/fblike.js"></script>

    <!-- Auto-Resize Input Fields -->
    <script src="../assets/autosize/js/autosize.js"></script>

    <!-- JQuery Comments Support -->
    <script type="text/javascript" src="../scripts/item/jquery-comments.min.js"></script>
    <link rel="stylesheet" type="text/css" href="../styles/item/jquery-comments.css">

    <!-- Bootstrap CSS (override) -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- Pure CSS (Override) -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/pure/0.6.0/base-context-min.css">

    <!-- Font Awesome (Override) -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">

    <!-- CSS Styles -->
    <link rel="stylesheet" href="../styles/common/bootstrap-edit.css">
    <link rel="stylesheet" href="../styles/common/common.css">
    <link rel="stylesheet" href="../styles/item/item.css">

    <!-- Bootstrap Notifications -->
    <link rel="stylesheet" href="../assets/bootstrapNotifications/css/bootstrap-notifications.min.css">
    <script src="../scripts/common/notify.min.js"></script>

    <!-- Selectize -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.3/js/standalone/selectize.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.3/css/selectize.default.min.css">
    <link rel="stylesheet" href="../styles/upload/selectize-mod.css">

    <!-- Animations -->
    <link rel="stylesheet" href="https://fastcdn.org/Animate.css/3.4.0/animate.min.css">

    <!-- Font Support -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">

    <!-- Google Analytics -->
    <script src="/scripts/common/analytics.js"></script>

    <!-- Google Analytics -->
    <script src="/scripts/common/analytics.js"></script>

</head>

<body>

    <!-- Facebook Like -->
    <div id="fb-root"></div>

    <!-- Page Loader -->
    <div id="loader-wrapper">
        <div id="loader"></div>
        <div class="loader-section section-left"></div>
        <div class="loader-section section-right"></div>
    </div>

    <!-- Navigation Bar -->
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">

            <!-- Left Header Icon -->
            <div class="navbar-header">

                <!-- Collapsed Nav -->
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#nav-menu" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                <!-- Logo and Name -->
                <a class="navbar-brand" href="/">
                    <h4 style="margin-top: 0px;">
                    <img src="../images/common/logo-new.svg" width="30px" height="30px" style="margin-top: -5px;"/>
                    Give For Free!</h4>
                </a>
            </div>

            <!-- Menu -->
            <div class="collapse navbar-collapse" id="nav-menu">

                <!-- User Actions Menu -->
                <% if (loggedIn) { %>
                    <ul class="nav navbar-nav navbar-right">
                        <li id="nav-create">
                            <a href="/upload">
                                <i class="fa fa-gift" aria-hidden="true"></i> Give
                            </a>
                        </li>
                        <li id="nav-feed">
                            <a href="/">
                                <i class="fa fa-newspaper-o" aria-hidden="true"></i> Feed
                            </a>
                        </li>
                        <li id="nav-profile">
                            <a href="/profile/<%= id %>">
                                <i class="fa fa-user" aria-hidden="true"></i> Profile
                            </a>
                        </li>

                        <% if (typeof notification != 'undefined') { %>
                            <!-- Notifications -->
                            <%- include('notification'); %>
                                <!-- End Notifications -->
                        <% } %>

                        <!-- Logout -->
                        <li id="nav-logout">
                            <a href="/logout">
                                <i class="fa fa-lock" aria-hidden="true"></i> Logout
                            </a>
                        </li>
                    </ul>
                <% } else { %>
                    <!-- Logged Out Navbar Menu -->
                    <ul class="nav navbar-nav navbar-right">
                        <li id="nav-feed">
                            <a href="/">
                                <i class="fa fa-newspaper-o" aria-hidden="true"></i> Feed
                            </a>
                        </li>
                        <li id="nav-logout">
                            <a href="javascript:loginSpecial();">
                                <i class="fa fa-lock" aria-hidden="true"></i> Login
                            </a>
                        </li>
                    </ul>
                <% } %>
            </div>
        </div>
    </nav>

    <!-- Start of Page Content -->
    <div class="container main-container col-lg-12 col-md-12 col-sm-12 col-xs-12">

        <!-- Message Flashing -->
        <!-- Errors -->
        <% if (locals.error_messages) {
            error_messages.forEach(function(message) { %>
            <div class="alert alert-warning"><strong>Uh-oh! </strong>
                <%= message %>
            </div>
            <% });
        } %>
        <!-- Success -->
        <% if (locals.success_messages) {
            success_messages.forEach(function(message) { %>
            <div class="alert alert-success"><strong>Awesome! </strong>
                <%= message %>
            </div>
            <% });

        } %>

        <row class="col-lg-12 col-md-12 col-sm-12 col-ms-12 col-xs-12">

            <!-- Left Panel Column -->
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4" style="padding: 0 0;">
                <!-- Banner -->
                <row>
                    <div class="panel panel-default title-panel" style="display: flex; justify-content:center; align-content:center; flex-direction:column; margin-left: 15px; margin-right: 15px; margin-bottom:20px;" align="center">

                        <img src="../images/item/gift.svg" style="display: block; margin-left: auto; margin-right: auto;padding: 10px 0; width: 100px;">
                        <p style="font-size:calc(10px + 1.5vw); mvertical-align: middle; padding:10px 0; padding-top: 15px; font-weight: bold; color: white; ">
                            <%= item.title %>
                        </p>
                        <p style="color: white; font-weight: bold; margin-top: -10px; padding-bottom: 5px; font-size: font-size:calc(10px + 1.0vw);"> <i class="fa fa-heart" aria-hidden="true" style="color: #EA5455;"></i>
                            <%= item.name %>
                        </p>
                        <div class="fb-like" data-href="http://www.giveforfree.sg/item/<%= item.itemID %>" data-layout="button_count" data-action="like" data-size="large" data-show-faces="true" data-share="true" style="bottom:10px;"></div>
                    </div>
                </row>
                <!-- Want / Unwant Button -->
                <% if (!mine) { %>
                    <row>
                        <div style="padding: 0 15px;" align="center">
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="padding-left:0; padding-right: 0; margin-bottom: 20px;">
                                <% if (!loggedIn && !expired && item.takerID === null) { %>
                                    <a href="/login" class="btn btn-lg btn-primary btn-block"><span class="glyphicon glyphicon-gift"></span> <b> LOGIN TO WANT!</b> <span class="badge"><%= item.numWants %></span> </a>
                                <% } else if (item.meWant === 1 && !expired && item.takerID === null) { %>
                                    <a class="btn btn-lg btn-danger btn-block unsnag" itemId="<%= item.itemID %>"><span class="glyphicon glyphicon-gift"></span>  <b> UNWANT!</b> <span class="badge"><%= item.numWants %></span> </a>
                                <% } else if (!expired && item.takerID === null) { %>
                                    <a class="btn btn-lg btn-primary btn-block snag" itemId="<%= item.itemID %>"><span class="glyphicon glyphicon-gift"></span> <b> WANT!</b> <span class="badge"><%= item.numWants %></span> </a>
                                <% } %>
                            </div>
                        </div>
                    </row>
                <% } %>

                <!-- Carousel -->
                <row>
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 carousel-section">
                        <div id="carousel-example-generic" class="carousel slide img-thumbnail carousel-window" data-ride="carousel" data-interval="false">
                            <!-- Indicators -->
                            <!-- <ol class="carousel-indicators">
                                <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                                <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                                <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                            </ol> -->
                            <!-- Wrapper for slides -->
                            <div class="carousel-inner photos" role="listbox">
                                <div class="item active">
                                    <img id="display-item" src="https://d24uwljj8haz6q.cloudfront.net/<%= item.imageLocation %>" onerror="handleBrokenImage(this);">
                                    <div class="carousel-caption">
                                    </div>
                                </div>
                            </div>
                            <!-- Controls -->
                            <!-- <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                                <span class="sr-only">Previous</span>
                            </a>
                            <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                                <span class="sr-only">Next</span>
                            </a> -->
                        </div>
                    </div>
                </row>

                <!-- Delivery Mode Panel -->
                <row>
                    <div style="padding: 0 15px;" align="center">
                        <div class="panel panel-default col-xs-12 col-sm-12 col-md-12 col-lg-12" style="margin-top: 5px;">
                            <div class="panel-body" style="padding: 15px 0;">
                                <h4>Accepted Delivery Mode</h4>
                                <h5>
                                    <% if (item.meetup === 1) { %>
                                    <span class="label label-info">Meet Up</span>
                                    <% } %>
                                    <% if (item.postage === 1) { %>
                                    <span class="label label-warning">Postage</span>
                                    <% } %>
                                </h5>
                            </div>
                        </div>
                    </div>
                </row>
            </div>
            <!-- End of Left Panel Column -->


            <!-- Right Panel Column -->
            <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8" style="padding: 0 0; margin-bottom: 0px;">
                <div>
                    <row>
                        <div style="padding: 0 15px;">
                            <div class="panel panel-default col-xs-12 col-sm-12 col-md-12 col-lg-12 profile-panel">
                                <div class="panel-body" style="padding: 15px 0; padding-bottom: 20px;">

                                    <!-- Profile Panel -->
                                    <div class="row">
                                        <div class="profile-header-container col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                            <div class="profile-header-img" align="center">
                                                <div class="avatar-badge" style="background-image: url(http://graph.facebook.com/<%= item.fbID %>/picture?type=large);" style="margin-left: 0; display: block; padding: 0; width: 80px; height: 80px; border-radius:50%;" align="center"></div>
                                                <div class="clearfix"></div>
                                                <div class="rank-label-container">
                                                    <div class="clearfix"></div>
                                                    <span class="label label-default rank-label"><%= gifts %> gifts</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- Location (Not yet supported) -->
                                    <div class="row">
                                        <div class="profile-name-container col-xs-12 col-sm-12 col-md-12 col-lg-12" style="margin-top: 10px;">
                                            <p class="owner-name">
                                                <a href="/profile/<%= item.giverID %>">
                                                    <b> <%= item.name %> </b>
                                                </a>
                                            </p>
                                            <!-- <small class="owner-location"> Singapore </small> -->
                                        </div>
                                    </div>

                                    <!-- User Command Section: Manage different rights for users -->
                                    <div class="row button-group">
                                        <center>
                                            <!-- For ongoing owners -->
                                            <% if (loggedIn && mine && item.takerID === null) { %>
                                                <a data-toggle="modal" data-target="#confirm-delete" data-href="/api/delete/<%= item.itemID %>" class="btn btn-xs btn-danger">Delete</a>
                                                <% if (item.numWants > 0) { %>
                                                    <a type="button" class="btn btn-xs btn-warning" href="/api/give/<%= item.itemID %>"> Random Draw</a>
                                                    <a type="button" class="btn btn-xs btn-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                        Pick <span class="caret"></span>
                                                    </a>
                                                    <ul class="dropdown-menu scrollable-menu" style="top:90%; "role="menu">
                                                        <% for (var i=0; i<manual.length; i++) { %>
                                                            <li>
                                                                <a href="/api/give/<%= item.itemID %>/<%= manual[i].userID %>">
                                                                    <%= manual[i].name %>
                                                                </a>
                                                            </li>
                                                        <% } %>
                                                    </ul>
                                                <% } %>
                                            <!-- For other users and receiving parties -->
                                            <% } else if (loggedIn && (item.takerID === null || item.takerID === id)) { %>
                                                <a href="javascript:messageUser();" class="btn btn-xs btn-primary message-button" id="facebook-message" style="margin-bottom: 10px;"><i class="fa fa-facebook-official" aria-hidden="true"></i> Message Owner</a>
                                                <% if (item.takerID === id) { %>
                                                    <a href="javascript:shareItem();" class="btn btn-xs btn-primary message-button" id="facebook-share" style="margin-bottom: 10px;"><i class="fa fa-facebook-official" aria-hidden="true"></i> Share on Facebook</a>
                                                <% } %>
                                            <!-- For successful owners -->
                                            <% } else if (loggedIn && item.giverID === id && item.takerID !== null) { %>
                                                <a href="javascript:messageUser();" class="btn btn-xs btn-primary message-button" id="facebook-message" style="margin-bottom: 10px;">Message Recipient</a>
                                            <% } %>
                                        </center>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </row>
                </div>
            </div>

            <!-- Main Form Information Panel -->
            <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8" style="padding: 0 0; margin-bottom: 10px;">
                <div>
                    <div style="padding: 0 15px;">
                        <div class="panel panel-default">
                            <div class="list-group">
                                <a class="list-group-item">
                                    <h4 class="list-group-item-heading">Title</h4>
                                    <p class="list-group-item-text hide-overflow">
                                        <%= item.title %>
                                    </p>
                                </a>
                                <a class="list-group-item" style="overflow: auto;">
                                    <h4 class="list-group-item-heading">Description</h4>
                                    <textarea readonly style="width: 100%; height: 100%; resize:none; font-weight: lighter; font-size: 1.3em; overflow: auto; background: transparent; border: none;" class="list-group-item-text wrap description-text"><%= item.description %></textarea>
                                </a>
                                <a class="list-group-item">
                                    <h4 class="list-group-item-heading">Deadline</h4>
                                    <p class="list-group-item-text">
                                        <%= date %>
                                    </p>
                                </a>
                                <div class="bs-callout bs-callout-warning" style="background-color: #FFFBAF; color: #A8896C; margin: 10px; 10px;">
                                    <% if (item.takerID === null && !expired) { %>
                                        <h4>Available</h4>
                                        <h5>This giveaway will end <%= moment(expiryDate).fromNow()%>.</h5>
                                    <% } else if (item.takerID === null) { %>
                                        <h4>Expired</h4>
                                        <h5>This giveaway has ended.</h5>
                                    <% } else { %>
                                        <h4>Given Away</h4>
                                        <h5>This item has been given away to <a style="color: teal;" href="/profile/<%= item.takerId %>"><%= item.takerName%></a>.</h5>
                                    <% } %>
                                </div>
                            </div>
                            <div class="panel-footer" style="vertical-align: middle;">
                                <div style="vertical-align: middle; position: relative;">
                                    <row>
                                        <% if (loggedIn && mine && !expired && item.takerID == null) { %>
                                            <div class="pull-right" style="vertical-align: middle; position:relative; float:right; margin-top: -10px;">
                                                <button class="btn btn-default pull-right" style="display: inline-block; align: right; top: 0px; float: right;" data-toggle="modal" data-target="#editModal">Edit</button>
                                                <% } %>
                                            </div>
                                            <div>
                                                <h5 class="text-muted" style="vertical-align: middle;"> Curious? Drop a comment below, or message <%=item.name%>!</h5>
                                            </div>
                                    </row>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Comments -->
                <div id="comments-container" style="margin-left: 15px; margin-right: 15px;">
                </div>
            </div>
        </row>
    </div>

    <!-- Modal Popup for editing -->
    <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Edit Item</h4>
                </div>
                <form action="/api/update/<%= item.itemID %>" class="form-horizontal form" role="form" method="post">
                    <div class="modal-body">
                        <!-- Errors -->
                        <% if (locals.error_messages) {
                            error_messages.forEach(function(message) { %>
                            <div class="alert alert-warning"><strong>Error: </strong>
                                <%= message %>
                            </div>
                            <% });
                        } %>
                        <!-- Modal Form -->
                        <div class="panel panel-default">
                            <div class="list-group">
                                <a class="list-group-item">
                                    <h4 class="list-group-item-heading"><b>What are you giving?</b></h4>
                                    <p class="list-group-item-text">
                                        <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
                                        <input type="text" class="input-txt" name="title" placeholder="Item name (max. 50 chars)" maxlength="50" autocomplete="off" value="<%=item.title%>" required>
                                    </p>
                                </a>
                                <a class="list-group-item">
                                    <h4 class="list-group-item-heading"><b>Describe the item you are giving!</b></h4>
                                    <p class="list-group-item-text">
                                        <textarea type="text" class="input-txt description-field" name="description" placeholder="Item description (max. 200 chars)" autocomplete="off" data-trigger="focus" id="description-field" maxlength="200" required><%=item.description%></textarea>
                                    </p>
                                </a>
                                <a class="list-group-item">
                                    <h4 class="list-group-item-heading"><b>When do you want to end this giveaway?</b></h4>
                                    <p class="list-group-item-text">
                                        <input type="text" class="input-txt" name="date" id="date" placeholder="Pick an end date..." maxlength="50" autocomplete="off" value="<%= moment(date, "D MMMM YYYY HH:mm").format(" YYYY-MM-DD ") %>" required>
                                    </p>
                                </a>
                                <a class="list-group-item">
                                    <h4 class="list-group-item-heading"><b>Which category does your item belong to?</b></h4>
                                    <select id="input-tags" name="categories[]" multiple class="categories has-options " style="width:70%" auto-complete: "off" placeholder="Select categories...">
                                        <option value="">Select categories...</option>
                                        <option value="clothes">clothes</option>
                                        <option value="accessories">accessories</option>
                                        <option value="furniture & home">furniture & home</option>
                                        <option value="parenting">parenting</option>
                                        <option value="health">health</option>
                                        <option value="beauty">beauty</option>
                                        <option value="kitchen appliances">kitchen appliances</option>
                                        <option value="gardening">gardening</option>
                                        <option value="property">property</option>
                                        <option value="design & craft">design & craft</option>
                                        <option value="electronics">electronics</option>
                                        <option value="sports">sports</option>
                                        <option value="photography">photography</option>
                                        <option value="antiques">antiques</option>
                                        <option value="toys">toys</option>
                                        <option value="games">games</option>
                                        <option value="music">music</option>
                                        <option value="tickets & vouchers">tickets & vouchers</option>
                                        <option value="auto accessories">auto accessories</option>
                                        <option value="books">books</option>
                                        <option value="stationeries">stationeries</option>
                                        <option value="textbooks">textbooks</option>
                                        <option value="notes">notes</option>
                                        <option value="pets">pets</option>
                                        <option value="other">other</option>
                                    </select>
                                </a>
                                <a class="list-group-item">
                                    <h4 class="list-group-item-heading"><b>How would you like the person receiving to collect the item?</b></h4>
                                    <div class="checkbox checkbox-primary checkbox-circle row">
                                        <input type="checkbox" id="meet" name="meetup" <% if (item.meetup) { %>checked="checked"<% } %>>
                                        <label class="large-label" for="meet">
                                            Meet and collect
                                        </label>
                                        <input type="checkbox" id="free" name="postage" <% if (item.postage) { %>checked="checked"<% } %>>
                                        <label class="large-label" for="free">
                                            Postage service
                                        </label>
                                    </div>
                                </a>
                                <a class="list-group-item">
                                    <div class="checkbox checkbox-primary checkbox-circle row">
                                        <input type="checkbox" id="share" name="postToFacebook">
                                        <label class="large-label" for="share">
                                            <i class="fa fa-facebook-official" aria-hidden="true"></i> Share on Facebook
                                        </label>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary" type="submit">Save changes</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- Modal Popup for deleting -->
    <div class="modal fade" id="confirm-delete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h3>You are deleting this item ... </h3>
                </div>
                <div class="modal-body">
                    <h5> Are you sure you want to delete this item? This action cannot be undone. </h5>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-danger btn-ok">Delete</a>
                </div>
            </div>
        </div>
    </div>

    <!-- Footer -->
    <footer>
        <div class="container footer-container">
            <div class="col-xs-10 col-xs-offset-1 text-center">
                <hr class="xsall">
                <div class="col-xs-12 text-center" style="padding-bottom: 10px;">
                    <small><span class="glyphicon glyphicon-envelope" id="envelope-icon" aria-hidden="true">  </span>  <a href="mailto:giveforfreefeedback@gmail.com"> giveforfreefeedback[at]gmail[dot]com</a></small>
                    <br>
                    <small><span class="glyphicon glyphicon-eye-open" id="eye-icon" aria-hidden="true"></span>  <a href="/privacy"> Privacy Clause</a></small>
                </div>
                <div class="col-xs-12 text-center">
                    <small class="col-xs-12 text-muted copyright">Copyright &copy; Give For Free 2016 </small>
                </div>
            </div>
        </div>
    </footer>

</body>

</html>
