<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Metadata and Responsive Viewport -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Give For Free</title>

    <!-- JQuery Support -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

    <!-- Bootstrap Support -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <!-- Material Elements -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/material-design-lite/1.2.0/material.min.css">
    <link rel="stylesheet" href="../assets/materialDatePicker/css/bootstrap-material-datetimepicker.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

    <!-- Native Scripts -->
    <script src="scripts/common/common.js"></script>
    <script src="scripts/landing/landing.js"></script>

    <!-- Push Notifications -->
    <!-- <script src="/scripts/common/notification2.js"></script> -->

    <!-- Facebook Like -->
    <script src="/scripts/common/fblike.js"></script>

    <!-- Bootstrap CSS (override) -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- Pure CSS (Override) -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/pure/0.6.0/base-context-min.css">

    <!-- Font Awesome (Override) -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">

    <!-- CSS Styles -->
    <link rel="stylesheet" href="styles/common/common.css">
    <link rel="stylesheet" href="styles/landing/landing.css">

    <!-- Bootstrap Notifications -->
    <link rel="stylesheet" href="../assets/bootstrapNotifications/css/bootstrap-notifications.min.css">
    <script src="../scripts/common/notify.min.js"></script>

    <!-- Animation -->
    <link rel="stylesheet" href="https://fastcdn.org/Animate.css/3.4.0/animate.min.css">

    <!-- Font Support -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">

    <!-- Google Analytics -->
    <script src="/scripts/common/analytics.js"></script>

</head>

<body>

    <!-- Facebook Like -->
    <div id="fb-root"></div>

    <!-- Page Loader -->
    <div id="loader-wrapper">
        <div id="loader"></div>
        <div class="loader-section section-left"></div>
        <div class="loader-section section-right"></div>
    </div>

    <!-- Navigation Bar -->
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">

            <!-- Left Header Icon -->
            <div class="navbar-header">

                <!-- Collapsed Nav -->
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#nav-menu" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                <!-- Logo and Name -->
                <a class="navbar-brand" href="/">
                    <h4 style="margin-top: 0px;">
                    <img src="../images/common/logo-new.svg" width="30px" height="30px" style="margin-top: -5px;"/>
                    Give For Free!</h4>
                </a>
            </div>

            <!-- Menu -->
            <div class="collapse navbar-collapse" id="nav-menu">

                <ul class="nav navbar-nav navbar-right">
                    <li id="nav-feed">
                        <a href="/">
                            <i class="fa fa-newspaper-o" aria-hidden="true"></i> Feed
                        </a>
                    </li>
                    <li id="nav-logout">
                        <a href="javascript:loginSpecial();">
                            <i class="fa fa-lock" aria-hidden="true"></i> Login
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- Section 1: Login -->
    <header id="login" class="login">
        <div class="text-vertical-center">
            <h1>It's FREE</h1>
            <h3>Give and Take Pre-loved Goods</h3>
            <br>
            <a href="javascript:loginSpecial();" class="btn btn-md btn-primary animated infinite pulse">
                <h4><i class="fa fa-facebook-square" aria-hidden="true"></i> Login using Facebook</h4>
            </a>
        </div>
    </header>

    <!-- Section 2: About -->
    <section id="about" class="about">
        <div class="container" id="about-container">
            <div class="row text-center">

                <!-- Introduction -->
                <div class="col-lg-10 col-lg-offset-1">
                    <h2>What is Give For Free?</h2>
                    <hr class="small">
                    <div class="row">

                        <div class="col-md-4 col-sm-6">
                            <div class="about-item">
                                <span class="glyphicon glyphicon-leaf" id="gift-icon" aria-hidden="true"></span>
                                <h4>
                                    <strong>Zero Waste</strong>
                                </h4>
                                <p>
                                    One man's junk is another man's treasure.
                                </p>
                            </div>
                        </div>

                        <div class="col-md-4 col-sm-6">
                            <div class="about-item">
                                <span class="glyphicon glyphicon-usd" id="friends-icon" aria-hidden="true"></span>
                                <h4>
                                    <strong>Shopping For FREE</strong>
                                </h4>
                                <p>
                                    We are all about the 100% discounts.
                                </p>
                            </div>
                        </div>

                        <div class="col-md-4 col-sm-6">
                            <div class="about-item">
                                <span class="glyphicon glyphicon-thumbs-up" id="karma-icon" aria-hidden="true"></span>
                                <h4>
                                    <strong>Engine Of Reciprocity</strong>
                                </h4>
                                <p>
                                    Give and take makes good friends. <br> - Scottish Proverb
                                </p>
                            </div>
                        </div>

                    </div>
                </div>

                <!-- Features -->
                <div class="col-lg-10 col-lg-offset-1">
                    <h2>How does it work?</h2>
                    <hr class="small">

                    <div class="col-md-12" id="sub-first">

                        <div class="feature-subtitles">
                            <h3><strong>Gifting</strong></h3>
                        </div>

                        <div class="col-sm-4 feature">
                            <img class="feature-icons" id="feat-1" src="images/landing/upload-images.svg">
                            <h4>Snap</h4>
                            <p class="lead">Build an image gallery for your gift</p>
                        </div>

                        <div class="col-sm-4 feature">
                            <img class="feature-icons" id="feat-2" src="images/landing/controlled-visibility.svg">
                            <h4>Post</h4>
                            <p class="lead">Share your gift with all your Facebook friends</p>
                        </div>

                        <div class="col-sm-4 feature">
                            <img class="feature-icons " id="feat-3" src="images/landing/pick-lottery.svg">
                            <h4>Give</h4>
                            <p class="lead">Pick the lucky one to receive your gift</p>
                        </div>

                    </div>

                    <div class="col-md-12" id="sub-second">

                        <div class="feature-subtitles">
                            <h3><strong>Receiving</strong></h3>
                        </div>

                        <div class="col-sm-4 feature">
                            <img class="feature-icons" id="feat-4" src="images/landing/curated-selection.svg">
                            <h4>Snag</h4>
                            <p class="lead">Indicate your interest in a FREE gift you've always wanted</p>
                        </div>

                        <div class="col-sm-4 feature">
                            <img class="feature-icons" id="feat-5" src="images/landing/smart-recommendations.svg">
                            <h4>Receive</h4>
                            <p class="lead">It's your lucky day! Go get your FREE gift</p>
                        </div>

                        <div class="col-sm-4 feature">
                            <img class="feature-icons" id="feat-6" src="images/landing/integrated-messaging.svg">
                            <h4>Thank</h4>
                            <p class="lead">Show your appreciation to the giver</p>
                        </div>

                    </div>

                </div>

            </div>
        </div>
    </section>

    <!-- Section 3: Contact Us -->
    <section id="contact" class="contact">
        <div class="container" id="contact-container">
            <div class="row">
                <div class="col-lg-10 col-lg-offset-1 text-center">
                    <h2>Our Team</h2>
                    <hr class="small">
                    <div class="contact-row col-sm-12">

                        <div class="col-sm-6 contact-item">
                            <div class="col-sm-4">
                                <img src="/images/home/xujie.gif" style="width:100%; max-width:130px"/>
                                <!-- <span class="glyphicon glyphicon-bullhorn" id="bullhorn-icon" aria-hidden="true"></span> -->
                            </div>
                            <div class="col-sm-8 teammate-description">
                                <h4> Ng Xu Jie </h4>
                                <p> Xu Jie is our team manager, marketeer and front-end developer. </p>
                            </div>
                        </div>

                        <div class="col-sm-6 contact-item">
                            <div class="col-sm-4">
                                <img src="/images/home/larry.gif" style="width:100%; max-width:130px"/>
                                <!-- <span class="glyphicon glyphicon-blackboard" id="blackboard-icon" aria-hidden="true"></span> -->
                            </div>
                            <div class="col-sm-8 teammate-description">
                                <h4> Huang Lie Jun </h4>
                                <p> Lie Jun is our UX/UI designer and front-end developer. </p>
                            </div>
                        </div>

                    </div>


                    <div class="col-sm-12">

                        <div class="col-sm-6 contact-item">
                            <div class="col-sm-4">
                                <img src="/images/home/ken.gif" style="width:100%; max-width:130px"/>
                                <!-- <span class="glyphicon glyphicon-cog" id="cog-icon" aria-hidden="true"></span> -->
                            </div>
                            <div class="col-sm-8 teammate-description">
                                <h4> Ken Oung Yong Quan </h4>
                                <p> Ken is our back-end developer, managing our database and server APIs. </p>
                            </div>
                        </div>

                        <div class="col-sm-6 contact-item">
                            <div class="col-sm-4">
                                <img src="/images/home/pat.gif" style="width:100%; max-width:130px"/>
                                <!-- <span class="glyphicon glyphicon-globe" id="globe-icon" aria-hidden="true"></span> -->
                            </div>
                            <div class="col-sm-8 teammate-description">
                                <h4> Patrick Cho </h4>
                                <p> Patrick is our back-end developer, managing our database and server APIs. </p>
                            </div>
                        </div>

                    </div>


                </div>
            </div>
        </div>
    </section>

    <!-- Footer -->
    <footer>
        <div class="container footer-container">
            <div class="col-xs-10 col-xs-offset-1 text-center">
                <hr class="xsall">
                <div class="col-xs-12 text-center" style="padding-bottom: 10px;">
                    <small><span class="glyphicon glyphicon-envelope" id="envelope-icon" aria-hidden="true">  </span>  <a href="mailto:giveforfreefeedback@gmail.com"> giveforfreefeedback[at]gmail[dot]com</a></small>
                    <br>
                    <small><span class="glyphicon glyphicon-eye-open" id="eye-icon" aria-hidden="true"></span>  <a href="/privacy"> Privacy Clause</a></small>
                </div>
                <div class="col-xs-12 text-center">
                    <small class="col-xs-12 text-muted copyright">Copyright &copy; Give For Free 2016 </small>
                </div>
            </div>
        </div>
    </footer>

</body>


</html>
