<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Metadata and Responsive Viewport -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Give For Free - Meeting the needs of others</title>

    <!-- JQuery Support -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

    <!-- Material Date Picker -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/material-design-lite/1.2.0/material.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.14.1/moment-with-locales.min.js"></script>
    <script src="../assets/materialDatePicker/js/bootstrap-material-datetimepicker.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/material-design-lite/1.2.0/material.min.css">
    <link rel="stylesheet" href="../assets/materialDatePicker/css/bootstrap-material-datetimepicker.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

    <!-- Bootstrap Support -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <!-- Checkbox Styling -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/awesome-bootstrap-checkbox/0.3.7/awesome-bootstrap-checkbox.min.css
    ">

    <!-- Native Scripts -->
    <script src="../scripts/common/common.js"></script>
    <script src="../scripts/upload/upload.js"></script>

    <!-- Push Notifications -->
    <!-- <script src="/scripts/common/notification2.js"></script> -->

    <!-- Image Upload EXIF -->
    <script src="../scripts/upload/exif.js"></script>

    <!-- Auto-Resize Input Fields -->
    <script src="../assets/autosize/js/autosize.js"></script>

    <!-- Bootstrap CSS (Override) -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- Pure CSS (Override) -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/pure/0.6.0/base-context-min.css">

    <!-- Font Awesome (Override) -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">

    <!-- Cropper (Override) -->
    <script src="../scripts/upload/croppie.js"></script>
    <link rel="stylesheet" href="../styles/upload/croppie.css">

    <!-- CSS Styles -->
    <link rel="stylesheet" href="../styles/common/bootstrap-edit.css">
    <link rel="stylesheet" href="../styles/common/common.css">
    <link rel="stylesheet" href="../styles/upload/upload.css">

    <!-- Bootstrap Notifications -->
    <link rel="stylesheet" href="../assets/bootstrapNotifications/css/bootstrap-notifications.min.css">
    <script src="../scripts/common/notify.min.js"></script>

    <!-- Selectize -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.3/js/standalone/selectize.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.3/css/selectize.default.min.css">
    <link rel="stylesheet" href="../styles/upload/selectize-mod.css">

    <!-- Animations -->
    <link rel="stylesheet" href="https://fastcdn.org/Animate.css/3.4.0/animate.min.css">

    <!-- Font Support -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">

    <!-- Google Analytics -->
    <script src="/scripts/common/analytics.js"></script>

</head>

<body>

    <!-- Page Loader -->
    <div id="loader-wrapper">
        <div id="loader"></div>
        <div class="loader-section section-left"></div>
        <div class="loader-section section-right"></div>
    </div>

    <!-- Navigation Bar -->
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">

            <!-- Left Header Icon -->
            <div class="navbar-header">

                <!-- Collapsed Nav -->
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#nav-menu" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                <!-- Logo and Name -->
                <a class="navbar-brand" href="/">
                    <h4 style="margin-top: 0px;">
                    <img src="../images/common/logo-new.svg" width="30px" height="30px" style="margin-top: -5px;"/>
                    Give For Free!</h4>
                </a>
            </div>

            <!-- Menu -->
            <div class="collapse navbar-collapse" id="nav-menu">
                <!-- User Actions Menu -->
                <ul class="nav navbar-nav navbar-right">
                    <li id="nav-create" class="active">
                        <a href="/upload">
                            <i class="fa fa-gift" aria-hidden="true"></i> Give
                        </a>
                    </li>
                    <li id="nav-feed">
                        <a href="/">
                            <i class="fa fa-newspaper-o" aria-hidden="true"></i> Feed
                        </a>
                    </li>
                    <li id="nav-profile">
                        <a href="/profile/<%= id %>">
                            <i class="fa fa-user" aria-hidden="true"></i> Profile
                        </a>
                    </li>

                    <% if (typeof notification != 'undefined') { %>
                        <!-- Notifications -->
                        <%- include('notification'); %>
                            <!-- End Notifications -->
                    <% } %>

                    <!-- Logout -->
                    <li id="nav-logout">
                        <a href="/logout">
                            <i class="fa fa-lock" aria-hidden="true"></i> Logout
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- Start of Page Content -->
    <div class="container main-container col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <!-- Message Flashing -->
        <!-- Errors -->
        <% if (locals.error_messages) { %>
            <% error_messages.forEach(function(message) { %>
            <div class="alert alert-warning"><strong>Uh-oh! </strong>
                <%= message %>
            </div>
            <% }); %>
        <% } %>
        <!-- Success -->
        <% if (locals.success_messages) { %>
            <% success_messages.forEach(function(message) { %>
            <div class="alert alert-success"><strong>Awesome! </strong>
                <%= message %>
            </div>
            <% }); %>

        <% } %>

        <!-- Start of Form -->
        <form action="/upload" method="post" id="new-gift-form" data-toggle="validator">

            <div class="col-lg-12 col-md-12 col-sm-12 col-ms-12 col-xs-12">

                <!-- Left Panel Column -->
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <!-- Title Banner -->
                    <div class="panel panel-default title-panel" style="display: flex; justify-content:center; align-content:center; flex-direction:column; margin-bottom:20px; " align="center">
                        <img src="../images/upload/heart.svg" style="display: block; margin-left: auto; margin-right: auto;  padding: 10px 0; max-width: 100px;">
                        <p style="font-size:calc(16px + 1.5vw); mvertical-align: middle; padding:10px 0; font-weight: bold; color: white; "> Contribute a Gift </p>
                        <h4 style="color: white; font-weight: bold; margin-top: -10px; padding-bottom: 5px;"> Start today! </h4>
                    </div>
                    <!-- Image Cropper -->
                    <div class="panel panel-default">
                        <div class="panel-body" style="padding: 5px">
                            <div class="input-group image-preview">
                                <a class="btn btn-default image-preview-input">
                                    <span class="glyphicon glyphicon-picture"></span>
                                    <span>Browse</span>
                                    <input type="file" onchange="previewFile()" accept="image/png, image/jpeg, image/gif" name="input-file-cropped" style="height: 100%;" id="upload-trigger" />
                                </a>
                            </div>
                            <div class="row">
                                <div class="image-crop text-center" style="display: none;">
                                    <div id="image" style="padding-bottom: 0; padding-top: 15px;"></div>
                                    <div style="margin-bottom: 15px; margin-top: -5px;">
                                        <a class="image-confirm btn btn-sm btn-success bold-link">Crop Image</a>
                                    </div>
                                </div>
                            </div>
                            <a id="image-holder" onclick="triggerUpload()">
                                <div align="center" id="cropperHolder">
                                    <span class="glyphicon glyphicon-upload" style="font-size: 200px;"></span>
                                    <h3> Click to upload an image </h3>
                                    <p> Upload and crop an image of the item ... </p>
                                </div>
                            </a>
                            <!-- Post Image Preview -->
                            <div id="image" style="display: none;">
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Right Panel Column -->
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <!-- Form Input Panel -->
                    <div class="panel panel-default">
                        <div class="list-group">
                            <a class="list-group-item">
                                <h4 class="list-group-item-heading"><b>What are you giving?</b></h4>
                                <p class="list-group-item-text">
                                    <input type="text" class="input-txt" name="title" placeholder="Item name (max. 50 chars)" maxlength="50" autocomplete="off" required>
                                </p>
                            </a>
                            <a class="list-group-item">
                                <h4 class="list-group-item-heading"><b>Describe the item you are giving!</b></h4>
                                <p class="list-group-item-text">
                                    <textarea type="text" class="input-txt description-field" name="description" placeholder="Item description (max. 200 chars)" autocomplete="off" data-trigger="focus" id="description-field" maxlength="200" required></textarea>
                                </p>
                            </a>
                            <a class="list-group-item">
                                <h4 class="list-group-item-heading"><b>When do you want to end this giveaway?</b></h4>
                                <p class="list-group-item-text">
                                    <input type="text" class="input-txt" name="date" id="date" placeholder="Pick an end date..." maxlength="50" autocomplete="off" required>
                                </p>
                            </a>
                            <a class="list-group-item">
                                <h4 class="list-group-item-heading"><b>Which category does your item belong to?</b></h4>
                                <select id="input-tags" name="categories[]" multiple class="categories has-options " style="width:70%" auto-complete: "off" placeholder="Select categories...">
                                    <option value="">Select categories...</option>
                                    <option value="clothes">clothes</option>
                                    <option value="accessories">accessories</option>
                                    <option value="furniture & home">furniture & home</option>
                                    <option value="parenting">parenting</option>
                                    <option value="health">health</option>
                                    <option value="beauty">beauty</option>
                                    <option value="kitchen appliances">kitchen appliances</option>
                                    <option value="gardening">gardening</option>
                                    <option value="property">property</option>
                                    <option value="design & craft">design & craft</option>
                                    <option value="electronics">electronics</option>
                                    <option value="sports">sports</option>
                                    <option value="photography">photography</option>
                                    <option value="antiques">antiques</option>
                                    <option value="toys">toys</option>
                                    <option value="games">games</option>
                                    <option value="music">music</option>
                                    <option value="tickets & vouchers">tickets & vouchers</option>
                                    <option value="auto accessories">auto accessories</option>
                                    <option value="books">books</option>
                                    <option value="stationeries">stationeries</option>
                                    <option value="textbooks">textbooks</option>
                                    <option value="notes">notes</option>
                                    <option value="pets">pets</option>
                                    <option value="other">other</option>
                                </select>
                            </a>
                            <a class="list-group-item">
                                <h4 class="list-group-item-heading"><b>How would you like the person receiving to collect the item?</b></h4>
                                <div class="checkbox checkbox-primary checkbox-circle row">
                                    <input type="checkbox" name="meetup" id="meetup" class="check-one">
                                    <label class="large-label" for="meetup">
                                        Meet and collect
                                    </label>
                                    <input type="checkbox" name="postage" id="postage" class="check-two">
                                    <label class="large-label" for="postage">
                                        Postage service
                                    </label>
                                </div>
                            </a>
                            <a class="list-group-item">
                                <div class="checkbox checkbox-primary checkbox-circle row">
                                    <input type="checkbox" id="share" name="postToFacebook">
                                    <label class="large-label" for="share">
                                        <i class="fa fa-facebook-official" aria-hidden="true"></i> Share on Facebook
                                    </label>
                                </div>
                            </a>
                        </div>
                        <div class="panel-footer" align="center">
                            <button disabled="disabled" id="create-upload" type="submit" class="btn btn-md btn-success bold-link">Create Gift!</button>
                        </div>
                    </div>
                    <input type="hidden" name="croppedImage" />
                    <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
                </div>
            </div>
        </form>
    </div>

    <!-- Footer -->
    <footer>
        <div class="container footer-container">
            <div class="col-xs-10 col-xs-offset-1 text-center">
                <hr class="xsall">
                <div class="col-xs-12 text-center" style="padding-bottom: 10px;">
                    <small><span class="glyphicon glyphicon-envelope" id="envelope-icon" aria-hidden="true">  </span>  <a href="mailto:giveforfreefeedback@gmail.com"> giveforfreefeedback[at]gmail[dot]com</a></small>
                    <br>
                    <small><span class="glyphicon glyphicon-eye-open" id="eye-icon" aria-hidden="true"></span>  <a href="/privacy"> Privacy Clause</a></small>
                </div>
                <div class="col-xs-12 text-center">
                    <small class="col-xs-12 text-muted copyright">Copyright &copy; Give For Free 2016 </small>
                </div>
            </div>
        </div>
    </footer>

</body>

</html>
