/* Main */


/* Navbar */

.navbar-right {
    padding-right: 20px;
    z-index: 99999;
}

/* Main Container */

.main-container {
    padding-top: 36px;
}
.container {
    margin-top: 20px;
}
.image-preview-input {
    position: relative;
    overflow: hidden;
    margin: 0px;
    color: #333;
    background-color: #fff;
    border-color: #ccc;
}
.image-preview-input input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}
.image-preview-input-title {
    margin-left: 2px;
}

/* Text Input and Forms */

.input-txt {
    width: 100%;
    /*padding: 10px 10px;*/
    background: transparent;
    border: none;
    font-size: 1.25em;
    color: black;
    /*border-bottom: 1px solid rgba(250, 250, 250, 0.4);*/
    /*box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);*/
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -moz-transition: background-color 0.5s ease-in-out;
    -o-transition: background-color 0.5s ease-in-out;
    -webkit-transition: background-color 0.5s ease-in-out;
    transition: background-color 0.5s ease-in-out;
}

/*.input-txt:-moz-placeholder {
color: #81aac9;
}
.input-txt:-ms-input-placeholder {
color: #81aac9;
}
.input-txt::-webkit-input-placeholder {
color: #81aac9;
}
.input-txt:focus {
background-color: #4478a0;
}*/

fieldset {
    border: 0px;
}
textarea {
    resize: none;
    border-bottom: none;
    display: block;
}
:focus {
    outline: none;
}
.dropbtn {
    background-color: #5D92BA;
    color: white;
    /*padding: 16px;*/
    font-size: 16px;
    height: 60px;
    border: none;
    cursor: pointer;
    border-bottom: 1px solid rgba(250, 250, 250, 0.4);
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -moz-transition: background-color 0.5s ease-in-out;
    -o-transition: background-color 0.5s ease-in-out;
    -webkit-transition: background-color 0.5s ease-in-out;
    transition: background-color 0.5s ease-in-out;
}
.dropbtn:-moz-placeholder {
    color: #81aac9;
}
.dropbtn:-ms-input-placeholder {
    color: #81aac9;
}
.dropbtn::-webkit-input-placeholder {
    color: #81aac9;
}
.dropbtn:hover, .dropbtn:focus {
    background-color: #4478a0;
}
#myInput {
    border-box: box-sizing;
    background-image: url('searchicon.png');
    background-position: 14px 12px;
    background-repeat: no-repeat;
    font-size: 20px;
    padding: 10px;
    margin: 0 0;
    width: 100%;
    border: none;
}
.dropdown {
    position: relative;
    display: inline-block;
    z-index: 9999;
}
.dropdown-content {
    display: none;
    /*position: absolute;*/
    background-color: #f6f6f6;
    /*min-width: 230px;*/
    width: 100%;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 9999;
    max-height: 200px;
}
.dropdown-content a {
    color: black;
    /*padding: 12px 16px;*/
    text-decoration: none;
    display: block;
}
.dropdown-content a:hover {
    background-color: rgba(0, 0, 0, 0.2);
}
.show {
    display: block;
}

/* Image Cropper */

img {
    max-width: 100%;
}
.list-group-item-heading {
    padding: 15px 0;
}
#image {
    margin-bottom: 22px;
}
.dtp-btn-cancel {
    background: #d9534f;
    box-shadow: none;
    margin: 0px 5px;
    color: white;
    font-weight: bold;
}
.dtp-btn-cancel:hover {
    background: #d43f3a;
    box-shadow: none;
    margin: 0px 5px;
    color: white;
    font-weight: bold;
}
.dtp-btn-ok {
    background: #5cb85c;
    box-shadow: none;
    margin: 0px auto;
    color: white;
    font-weight: bold;
}
.dtp-btn-ok:hover {
    background: #4cae4c;
    box-shadow: none;
    margin: 0px auto;
    color: white;
    font-weight: bold;
}
.large-label {
    font-size: 1.5em;
}
.bootstrap-switch.bootstrap-switch-focused, .bootstrap-switch.bootstrap-switch {
    outline: none;
    box-shadow: none;
    /*border: 2px;*/
}
.checkbox input[type="checkbox"]:focus+ label::before {
    outline: none;
}
.title-panel {
    background: #EA5455;
}
