/* Main */

.hide-bullets {
    list-style: none;
    margin-left: -40px;
    margin-top: 20px;
}
.main-container {
    padding-top: 36px;
}
.container {
    margin-top: 20px;
}
.carousel-section {
    /*padding: 10px 0;*/
    z-index: 999;
}
.control-section {
    /*padding: 10px 0;*/
}
.photos {
    border-radius: 6px;
}
.carousel-control.left, .carousel-control.right {
    background-image: none
}

/* Profile image component */

.profile-header-container {
    margin: 0 auto;
    text-align: center;
    align-self: center;
}
.profile-header-img> img.img-circle {
    width: 70px;
    height: 70px;
    min-width: 48px;
    min-height: 48px;
    max-width: 100px;
    max-height: 100px;
    border: 2px solid #ff3757;
}

/* Ranking component */

.rank-label-container {
    margin-top: -19px;
    /* z-index: 1000; */
    text-align: center;
}
.label.label-default.rank-label {
    background-color: #ff3757;
    padding: 5px 10px 5px 10px;
    border-radius: 27px;
    text-align: center;
}
.profile-name-container {
    margin: 0 auto;
    text-align: center;
    align-self: center;
}
.profile-panel {
    display: flex;
    justify-content: center;
    position: relative;
}
.owner-name {
    font-size: 2.0rem;
}
.owner-location {
    font-size: 1.6rem;
    margin-top: -10px;
}
.button-group {
    padding-top: 20px;
}
.panel-heading h5 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: normal;
    width: 75%;
    padding-top: 8px;
    font-weight: bold;
}
.scrollable-menu {
    height: auto;
    max-height: 200px;
    overflow-x: hidden;
}
.dropdown-menu {
    left: auto;
}
.message-button {
    color: white;
    font-weight: bold;
    font-style: normal;
}
.carousel-window {
    /*width: 100%;*/
    /*height: 100%;*/
}
.carousel {
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.modal-body .form-horizontal .col-sm-2, .modal-body .form-horizontal .col-sm-10 {
    width: 100%
}
.modal-body .form-horizontal .control-label {
    text-align: left;
}
.modal-body .form-horizontal .col-sm-offset-2 {
    margin-left: 15px;
}
.title-panel {
    background: #FFC057;
}
#display-item {
    width: 100%;
    /*height: 100%;*/
}

.input-txt {
    width: 100%;
    /*padding: 10px 10px;*/
    background: transparent;
    border: none;
    font-size: 1.25em;
    color: black;
    /*border-bottom: 1px solid rgba(250, 250, 250, 0.4);*/
    /*box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);*/
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -moz-transition: background-color 0.5s ease-in-out;
    -o-transition: background-color 0.5s ease-in-out;
    -webkit-transition: background-color 0.5s ease-in-out;
    transition: background-color 0.5s ease-in-out;
}
.photos {
    overflow: hidden;
    position: relative;
}

.dropdown {
    position: relative;
    display: inline-block;
    z-index: 9999;
}
.dropdown-content {
    display: none;
    /*position: absolute;*/
    background-color: #f6f6f6;
    /*min-width: 230px;*/
    width: 100%;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 9999;
    max-height: 200px;
}
.dropdown-content a {
    color: black;
    /*padding: 12px 16px;*/
    text-decoration: none;
    display: block;
}
.dropdown-content a:hover {
    background-color: rgba(0, 0, 0, 0.2);
}
fieldset {
    border: 0px;
}
textarea {
    resize: none;
    border-bottom: none;
    display: block;
}
:focus {
    outline: none;
}

.list-group-item-heading {
    padding: 15px 0;
}
.large-label {
    font-size: 1.5em;
}
.bootstrap-switch.bootstrap-switch-focused, .bootstrap-switch.bootstrap-switch {
    outline: none;
    box-shadow: none;
    /*border: 2px;*/
}
.checkbox input[type="checkbox"]:focus+ label::before {
    outline: none;
}

.dtp-btn-cancel {
    background: #d9534f;
    box-shadow: none;
    margin: 0px 5px;
    color: white;
    font-weight: bold;
}
.dtp-btn-cancel:hover {
    background: #d43f3a;
    box-shadow: none;
    margin: 0px 5px;
    color: white;
    font-weight: bold;
}
.dtp-btn-ok {
    background: #5cb85c;
    box-shadow: none;
    margin: 0px auto;
    color: white;
    font-weight: bold;
}
.dtp-btn-ok:hover {
    background: #4cae4c;
    box-shadow: none;
    margin: 0px auto;
    color: white;
    font-weight: bold;
}
