/* Main */

.fab {
    position: fixed;
    bottom: 20px;
    right: 5%;
    border-radius: 0.25em;
    width: 44px;
    height: 44px;
    background: #337ab7;
    align-items: center;
}
.main-container {
    padding-top: 36px;
}
.container {
    margin-top: 20px;
}
/* Navbar */

.navbar-right {
    padding-right: 20px;
    z-index: 99999;
}

/* Create Gift Button */

.create-gift-button {
    font-size: 18px;
    z-index: 100;
    text-align: center;
}

/* Scroll Container */

.infinite-scroll-container {
    /*padding-top: 100px;*/
}

/* Thumbnail */

.item-header {
    font-size: 1.2em;
    font-weight: bold;
}
.item-author {
    font-size: 1.0em;
    font-weight: 50;
    /*color: black;*/
    /*font-style: italic;*/
}
.item-caption {
    font-size: 1.0em;
    text-align: justify;
    text-justify: inter-word;
    padding: 0 5px;
}
.item-call {
    font-weight: bold;
    align-content: center;
}
.call-button {
    padding: 10px 0;
    /*position: absolute;
    bottom: 0;
    right: 0;*/
}
.item-snags {
    font-size: 0.8em;
    text-align: right;
    padding-top: 10px;
}
.hide-overflow {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 100%;
    display: block;
}

/* MASONRY APPROACH #1 */


/**, *:before, *:after {
    box-sizing: border-box !important;
}
*/

.row {
    -moz-column-width: 18em;
    -webkit-column-width: 18em;
    -moz-column-gap: 1em;
    -webkit-column-gap: 1em;
}
.grid-item {
    display: inline-block;
    margin:  0.20rem;
    padding:  1rem;
    width: 100%;
}
.thumbnail {
    position: relative;
    display: block;
}

.title-panel {
    background: #B2E672;
}

.thumbnail:hover {
    background: #337ab7;
    color: white;
    -webkit-transition: background 0.5s ease-out;
    -moz-transition: background 0.5s ease-out;
    -o-transition: background 0.5s ease-out;
    transition: background 0.5s ease-out;
}
.thumbnail:hover .text-muted {
    color: white;
}
.thumbnail:hover a {
    color: white;
}


/* MASONRY APPROACH #2 */


/*.grid-row {
 -moz-column-width: 25em;
 -webkit-column-width: 25em;
 -moz-column-gap: .5em;
 -webkit-column-gap: .5em;

}

.grid-item {
 display: inline-block;
 margin:  .5em;
 padding:  0;
 width:98%;
}*/
